# Игнорируем настройки редакторов
.vscode/
.idea/

# Игнорируем скомпилированные файлы (Windows)
*.exe
*.dll
*.obj

# Игнорируем скомпилированные файлы (Mac/Linux)
*.o
*.out
my_app
.DS_Store

# Игнорируем файлы базы данных (чтобы не затирать данные друг друга)
*.db
*.sqlite